@import url('https://fonts.googleapis.com/css?family=Montserrat|Share+Tech+Mono');

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.site-title {
  font-weight: 400;
}

.title-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.title-link:visited {
  color: gray;
}

.source {
  font-family: 'Share Tech Mono', monospace;
  font-size: 10px;
  color: gray;
  text-decoration: none;
}

.source a {
  color: gray !important;
  text-decoration: none;
}

.source a:hover {
  text-decoration: underline;
}

.index {
  color: gray;
  font-size: 12px;
  text-align: right;
}

.site-title {
  font-size: 16px;
  color: white;
}

.powered-by {
  font-size: 12px;
  color: white;
}

.xmr-ad {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}
